.content{
    position: relative;
    width: 100%;
    top: 75px;
    height: fit-content;
    display: grid;
}

.topController{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0 20px 0;
    gap: 20px;
}

@media (max-width: 350px){
    .topController{
        display: grid;
    }
}

.topController select, .topController button{
    border: 1px solid #645038;
    border-radius: 5px;
    background-color: transparent;
    height: 20px;
    width: 150px;
    cursor: pointer;
}

.panel{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
    border: 1px solid #645038;
    
}

.panel ul{
    list-style: none;
    display: grid;
}

.panel ul h3{
    font-weight: bolder;
}