body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F3;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

@font-face {
    font-family: 'ToronoGlitchMinchoH1';
    src: url('../assets/fonts/ToronoGlitch/瀞ノグリッチ明朝/瀞ノグリッチ明朝H4.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navBar{
    width: calc(100% - 10vw);
    height: fit-content;
    position: fixed;
    background:rgba(255,255,255,.08);
    border:2px solid transparent;
    box-shadow:0 0 0 2px rgba(255,255,255,.6),0 16px 32px rgba(0,0,0,.12);
    -webkit-backdrop-filter:url(#frosted);
    backdrop-filter:url(#frosted);
    outline:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw 2vh 5vw;
}

.glass::before,
.glass::after{
    content:"";
    position:absolute;
    width:40%;
    height:10px;
    background:#fff;
    border-radius:10px;
}

.glass::after{
    transform:rotate(90deg)
}

.navTitle h3{
    font-family: 'ToronoGlitchMinchoH1', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.navTitle p{
    font-size: 0.8rem;
    margin: 0;
}

.navTitle{
    color: #645038;
    cursor: pointer;
}

.navItems ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.navItems li{
    font-family: 'ToronoGlitchMinchoH1', sans-serif;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
}

.navItems li:hover{
    color: #645038;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 960px) {

    .navTitle h3{
        font-size: 1.3rem;
    }

    .navTitle p{
        font-size: 0.6rem;
    }

    .navItems li{
        font-size: 0.8rem;
    }
}

@media (max-width: 750px) {

    .navBar{
        justify-content: center;
    }

    .navTitle h3{
        font-size: 1.1rem;
        text-align: center;
    }

    .navTitle p{
        font-size: 0.4rem;
        text-align: center;
    }

    .navItems {
        display: none;
    }
}